@import "../colors.rasi"

* {
    background:     @on-secondary-fixed;
    background-alt: @on-secondary-fixed-variant;
    foreground:     @primary;
    selected:       @tertiary-fixed;
    active:         @on-surface;
    urgent:         @error;
}
